/* Füge den Link zur Font Awesome CSS-Datei hinzu */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  background-color: #292929; /* Darker background color */
  color: #fff;
}

.App {
  text-align: center;
  margin: 20px auto; /* Center the app and add some margin */
  padding: 20px; /* Add some padding */
  border: 2px solid #555; /* Add a border */
  border-radius: 10px; /* Add border radius for rounded corners */
  max-width: 600px; /* Limit maximum width */
}

h1 {
  color: #fff;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px;
}

input[type="text"]::placeholder {
  color: #999;
}

button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-list li input[type="checkbox"] {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #555;
}

button.delete {
  background-color: transparent;
  color: #ff5252;
  border: none;
}

button.delete:hover {
  background-color: #3c3c3c;
}

.delete-icon {
  cursor: pointer;
}
